.chart-value_text {
  fill: black;
  font-family: PT Sans, sans-serif;
  font-size: 10px;
  /*text-anchor: end;*/
}

.chart-group_text {
  fill: black;
  font: 10px sans-serif;
  /*text-anchor: end;*/
}

.chart-legend_text {
  font-family: PT Sans, sans-serif;
  font-size: 10px;    text-anchor: start;
  pointer-events: all;

}

.chart-legend_text:hover {
  font-weight: bold;
}

.chart-groups {
    fill: red;
}

.chart-bars {
    fill: red;
    /*pointer-events: all;*/
}
.chart-zoombar, .chart-zoombar_shadow, .chart-zoombar_shadow_dark {
  pointer-events: none;
}

.chart-selected_value {
  font-weight: bold;
}

.chart-tooltip {   
    position: absolute;
    z-index: 10;          
    text-align: center;           
/*    width: 70px;                  
    height: 12px;                 
    padding: 2px;  */           
    font-family: PT Sans, sans-serif;
    font-size: 10px;
    /*background: lightgray;   */
    /*border: 0px;      */
    /*border-radius: 10px;           */
    pointer-events: none;
}
.chart-blue {
  fill: #0086cd;
}
.chart-sup {
  fill: #0086cd;
  font-family: PT Sans, sans-serif;
  font-size: 7px;
}