/*body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}

body {
	-epub-hyphens:auto;
}*/


/*.FreeSet-DemiBold {
	font-family: FreeSet-DemiBold;
	font-weight: normal;
	font-style: normal;
}
.FreeSet-Book {
	font-family: FreeSet-Book;
	font-weight: normal;
	font-style: normal;
}*/


#c-wrap {
    /*width: 538px;*/
    margin-top: 28px;
}

#c-wrap h1,h2,h3,p {
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    text-decoration:none;
    text-indent:0;
    text-transform:none;
    letter-spacing: normal;
    text-align:left;

}

#c-wrap p {
    margin-left: 50px;  /*same margin for h3*/
    margin-bottom:18px;  /*same margin for h3*/
    margin-right:0;
    margin-top:0;

/*font size set by size1 size2 size3 classes*/
    /*font-size:13px;*/

    color:#000000;
    font-family: PT Sans, sans-serif;
}

#c-wrap .footnote {
    margin-bottom:18px;
/*font size set by size1 size2 size3 classes*/
    /*font-size: 10px;*/
    text-indent: -8px;
}

#c-wrap .footnote sup {
    color:#0086cd;
}

#c-wrap .footnote-sup{
    color:#0086cd;
}


#c-wrap h1 {
    margin-left: 0;
    margin-bottom:36px;
    margin-right:0;
    margin-top:0;

    text-align:left;
/*font size set by size1 size2 size3 classes*/
    /*font-size:24px;*/

    color:#0086cd;
    font-family: FreeSet-DemiBold, sans-serif;
}

#c-wrap h2 {
    margin-left: 0;
    margin-bottom:36px;
    margin-right:0;
    margin-top:36px;
    /*padding-top: 36px;*/


    text-align:left;
/*font size set by size1 size2 size3 classes*/
    /*font-size:20px;*/

    color:#0086cd;
    font-family: FreeSet-DemiBold, sans-serif;
}

#c-wrap h3 {
    margin-left: 50px;  /*same margin as for p*/
    margin-bottom:18px;  /*same margin as for p*/
    margin-right:0;
    margin-top:36px;  /* double margin to push from previous p*/
    /*padding-top: 18px;*/

    text-transform:none;

    text-align:left;
/*font size set by size1 size2 size3 classes*/
    /*font-size: 16px;*/

    color:#0086cd;
    font-family: FreeSet-Book, sans-serif;
}

#c-wrap .smalltext {
    width: 90%;
}

#c-wrap .big-num-container {
    display: inline-block;
    position: relative;
    margin-left: 0;
    margin-bottom: 6px;
    margin-right:0;
    margin-top:0;

}
#c-wrap .big-num-block1 {
    display: inline;
    float:left;
}

#c-wrap .big-num-block2 {
    margin: 0;
    display: inline;
    float:right;
    position: absolute;
    bottom:0px;
    padding-left: 10px;
    line-height: 1.15;
}

#c-wrap .big-num {
    margin: 0;
    line-height: 0.7;
    text-align:left;
    font-size:78px;
    letter-spacing: -5px;
    color:#0086cd;
    font-family: FreeSet-DemiBold, sans-serif;
}

#c-wrap .big-num-mlrd {
    margin: 0;
    text-align:left;
    font-size:16px;
    letter-spacing: normal;
    color:#0086cd;
    font-family: FreeSet-DemiBold, sans-serif;
}

#c-wrap .big-num-percent {
    margin: 0;
    text-align:left;
    font-size:32px;
    letter-spacing: normal;
    color:#0086cd;
    font-family: FreeSet-DemiBold, sans-serif;
}

#c-wrap .big-num-text {
    margin-left: 0;
    margin-right: 100px;
    margin-bottom:36px;
    font-size: 15px;
    font-family: "PT Sans";
    color:#0086cd;
    font-style: italic;
    line-height: 1.267;
}



#c-wrap .chart-pic,  #c-wrap .photo-pic{
    margin-left: 0;
    margin-bottom:36px;
}

#c-wrap .chart-pic .zoom-pic img{
    float:right;
    width: 16px;
    margin-bottom: 10px;
}

#c-wrap .chart-name, #c-wrap .table-name {
    margin-top: 54px;
    margin-left: 0;
    margin-bottom:18px;
    /*font size set by size1 size2 size3 classes*/
    /*font-size: 13px;*/
    font-family: "PT Sans";
    color:#0086cd;
}

#c-wrap .table-name {
    margin-top: 54px;
    margin-left: 50px;
    margin-bottom:18px;
    /*font size set by size1 size2 size3 classes*/
    /*font-size: 13px;*/
    font-family: "PT Sans";
    color:#0086cd;
}

.wide-tab {
    width: 740px !important;
    overflow-x: scroll;
    /*table-layout: fixed;*/
}

.wide-tab td{
    padding-left: 6px !important;
    padding-right: 6px !important;
    /*font-size: 9px !important;*/

}

#c-wrap-site-map h4 {
        margin-left: 0;
        margin-bottom:16px;
        margin-right:0;
        margin-top:28px;
        /*padding-top: 36px;*/


        text-align:left;
    /*font size set by size1 size2 size3 classes*/
        font-size:16px;

        color:#0086cd;
        font-family: FreeSet-DemiBold, sans-serif;
}

#c-wrap #c-wrap-site-map ul{
    padding: 0;
    margin: 0 0 18px 50px;  /*same margin as for p, h3*/
    list-style-image: none;
    list-style-position:inside;
    list-style-type: none;
}
#c-wrap #c-wrap-site-map ul li:before{
    content: none;
    color:#0086cd;
    margin-right: 0px;
}
#c-wrap #c-wrap-site-map ul li{
    padding: 0;
    margin: 0 0 12px 0;  
    /* standard bottom margin as for p */
    
    text-indent: 0px;
    padding-left: 0px;

}
#c-wrap #c-wrap-site-map ul li a{
    color:#7b7c7e;
}

/*==========  Common OVERRIDE-styles  ==========*/

.xx-black {
    color:#000000  !important;
}
.xx-blue {
    color:#0086cd  !important;
}
/*override stardard font style*/
.xx-strong {
    font-style:normal  !important;
    font-weight:bold  !important;
}
.xx-strong-tr td p {
    font-style:normal  !important;
    font-weight:bold  !important;
}
.xx-italic {
    font-style:italic  !important;
}
.xx-no-left-margin {
    margin-left:0  !important;
}


/*==========  Table styles  ==========*/

#c-wrap .ts-main {
    border-collapse:collapse;
    border-style:none;
    border-width:0px;
    margin-bottom:84px;
    margin-top:0px;
    margin-left: 35px;  /*move table*/
    width: 503px;

    -webkit-appearance: none;  /*these 2 lines: hack to show shadow in mibile Safari*/
    border-radius: 1px;  /*these 2 lines: hack to show shadow in mibile Safari*/

    background-color:#ffffff;  /*set bkg color to white to avoid transparent cells in tables with gray-lines-artefacts in mobile Safari*/
}

#c-wrap .ts-shadow {
    box-shadow: #e3e3e3 -1px 1px,
    #e3e3e3 -2px 2px,
    #e3e3e3 -3px 3px,
    #e3e3e3 -4px 4px,
    #e3e3e3 -5px 5px,
    #e3e3e3 -6px 6px,
    #e3e3e3 -7px 7px,
    #e3e3e3 -8px 8px,
    #e3e3e3 -9px 9px,
    #e3e3e3 -10px 10px,
    #e3e3e3 -11px 11px,
    #e3e3e3 -12px 12px,
    #e3e3e3 -13px 13px,
    #e3e3e3 -14px 14px,
    #e3e3e3 -15px 15px,
    #e3e3e3 -16px 16px,
    #e3e3e3 -17px 17px,
    #e3e3e3 -18px 18px,
    #e3e3e3 -19px 19px,
    #e3e3e3 -20px 20px,
    #e3e3e3 -21px 21px,
    #e3e3e3 -22px 22px,
    #e3e3e3 -23px 23px,
    #e3e3e3 -24px 24px,
    #e3e3e3 -25px 25px,
    #e3e3e3 -26px 26px,
    #e3e3e3 -27px 27px,
    #e3e3e3 -28px 28px,
    #e3e3e3 -29px 29px;

    -webkit-box-shadow:#e3e3e3 -1px 1px,
    #e3e3e3 -2px 2px,
    #e3e3e3 -3px 3px,
    #e3e3e3 -4px 4px,
    #e3e3e3 -5px 5px,
    #e3e3e3 -6px 6px,
    #e3e3e3 -7px 7px,
    #e3e3e3 -8px 8px,
    #e3e3e3 -9px 9px,
    #e3e3e3 -10px 10px,
    #e3e3e3 -11px 11px,
    #e3e3e3 -12px 12px,
    #e3e3e3 -13px 13px,
    #e3e3e3 -14px 14px,
    #e3e3e3 -15px 15px,
    #e3e3e3 -16px 16px,
    #e3e3e3 -17px 17px,
    #e3e3e3 -18px 18px,
    #e3e3e3 -19px 19px,
    #e3e3e3 -20px 20px,
    #e3e3e3 -21px 21px,
    #e3e3e3 -22px 22px,
    #e3e3e3 -23px 23px,
    #e3e3e3 -24px 24px,
    #e3e3e3 -25px 25px,
    #e3e3e3 -26px 26px,
    #e3e3e3 -27px 27px,
    #e3e3e3 -28px 28px,
    #e3e3e3 -29px 29px;

    -moz-box-shadow:#e3e3e3 -1px 1px,
    #e3e3e3 -2px 2px,
    #e3e3e3 -3px 3px,
    #e3e3e3 -4px 4px,
    #e3e3e3 -5px 5px,
    #e3e3e3 -6px 6px,
    #e3e3e3 -7px 7px,
    #e3e3e3 -8px 8px,
    #e3e3e3 -9px 9px,
    #e3e3e3 -10px 10px,
    #e3e3e3 -11px 11px,
    #e3e3e3 -12px 12px,
    #e3e3e3 -13px 13px,
    #e3e3e3 -14px 14px,
    #e3e3e3 -15px 15px,
    #e3e3e3 -16px 16px,
    #e3e3e3 -17px 17px,
    #e3e3e3 -18px 18px,
    #e3e3e3 -19px 19px,
    #e3e3e3 -20px 20px,
    #e3e3e3 -21px 21px,
    #e3e3e3 -22px 22px,
    #e3e3e3 -23px 23px,
    #e3e3e3 -24px 24px,
    #e3e3e3 -25px 25px,
    #e3e3e3 -26px 26px,
    #e3e3e3 -27px 27px,
    #e3e3e3 -28px 28px,
    #e3e3e3 -29px 29px;

    /*zoom: 1;*/
    /*filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=-30, OffY=30, Color=#e3e3e3);*/
}



#c-wrap .ts-main thead tr {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #0086cd;
    /*padding: 9px;*/
}

#c-wrap .ts-main tbody tr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0086cd;
    /*padding: 9px;*/
}

#c-wrap .ts-main td {
    padding: 9px;
    padding-left: 15px;
    display: table-cell;
    vertical-align: top;
}

#c-wrap .ts-main .base-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0086cd;
} 


#c-wrap .ts-main li, #c-wrap .ts-main p {
    /*min-height:20px;*/  /*set minimum table row height*/
    /*font size set by size1 size2 size3 classes*/
    /*font-size:10px !important;*/


    text-align:right;
    padding-top: 3px;  /*slightly move down text inside cells*/

    color:#000000;
    font-family:"PT Sans", sans-serif;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    list-style-position:inside;
    list-style-type: none;
    margin:0;
    text-decoration:none;
    text-indent:0;
    text-transform:none;

}

#c-wrap .ts-main thead tr td p {
    text-align:left;
}

#c-wrap .ts-main ul {
    padding: 0;
    margin: 0;
    list-style-image: none;

}

#c-wrap .ts-main li:before{
    content:"/";
    color:#0086cd;
    margin-right: 14px;

}

#c-wrap .hover { background-color: #efeff0; }
#c-wrap .ts-main tbody tr:hover { background-color: #efeff0; }


/*==========  Cell styles  ==========*/

.cs-bkg-blue{
    background-color:#f3f8fb; /*light blue column background*/
}

.cs-width-auto {
    width:auto;
}

.cs-width-20 {
    width:20%;
}

.cs-width-40 {
    width:40%;
}

/*override standard bottom border*/
.cs-double-border{
    border-bottom-width: 2px !important;
}

/*override standard bottom border*/
.cs-no-border{
    border-bottom-width: 0px !important;
}

/*td style*/
.cs-row{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0086cd;
    padding: 9px;
}

/*override standard right text alignment*/
.cs-text-left{
    text-align:left !important;
}

.cs-first-col-left td:first-child p{ 
    text-align: left !important;
}

.cs-second-col-left td:nth-child(2) p{ 
    text-align: left !important;
}

/*==========  temp styles  ==========*/


#c-wrap ul{
    padding: 0;
    margin: 0 0 18px 50px;  /*same margin as for p, h3*/
    list-style-image: none;
    list-style-position:inside;
    list-style-type: none;
}
#c-wrap ul li:before{
    content:"/";
    color:#0086cd;
    margin-right: 14px;
}
#c-wrap ul li{
    padding: 0;
    margin: 0 0 18px 0;  
    /* standard bottom margin as for p */
    
    text-indent: -18px;
    padding-left: 18px;
}


/*==========  font sizer styles  ==========*/

/*size1*/

.size1 p, .size1 .chart-name, .size1 .table-name {
    font-size:13px !important;
}

.size1 .footnote {
    font-size: 10px !important;
}

.size1 h1 {
    font-size:24px !important;
}

.size1 h2 {
    font-size:19px !important;
}

.size1 h3 {
    font-size: 16px !important;
}

.size1 .ts-main li, .size1 .ts-main p {
    font-size:10px !important;
}

/*size2*/

.size2 p, .size2 .chart-name, .size2 .table-name {
    font-size:14px !important;
}

.size2 .footnote {
    font-size: 11px !important;
}

.size2 h1 {
    font-size:26px !important;
}

.size2 h2 {
    font-size:21px !important;
}

.size2 h3 {
    font-size: 17px !important;
}
.size2 .ts-main li, .size2 .ts-main p {
    font-size:11px !important;
}


/*size3*/

.size3 p, .size3 .chart-name, .size3 .table-name {
    font-size:15px !important;
}

.size3 .footnote {
    font-size: 12px !important;
}

.size3 h1 {
    font-size:28px !important;
}

.size3 h2 {
    font-size:22px !important;
}

.size3 h3 {
    font-size: 18px !important;
}
.size3 .ts-main li, .size3 .ts-main p {
    font-size:12px !important;
}


/*==========  Chart styles  ==========*/


.chart-value_text {
  fill: black;
  font-family: PT Sans, sans-serif;
  font-size: 10px;
  /*text-anchor: end;*/
}

.chart-group_text {
  fill: black;
  font-family: PT Sans, sans-serif;
  font-size: 10px;
  /*text-anchor: end;*/
}

.chart-legend_text {
  font-family: PT Sans, sans-serif;
  font-size: 10px;    
  /*text-anchor: start;*/
  pointer-events: all;

}

.chart-legend_text:hover {
  font-weight: bold;
}

.chart-groups {
    fill: red;
}

.chart-bars {
    fill: red;
    /*pointer-events: all;*/
}
.chart-zoombar, .chart-zoombar_shadow, .chart-zoombar_shadow_dark {
  pointer-events: none;
}

.chart-selected_value {
  font-weight: bold;
}

.chart-tooltip {   
    position: absolute;
    z-index: 10;          
    text-align: center;           
/*    width: 70px;                  
    height: 12px;                 
    padding: 2px;  */           
    font-family: PT Sans, sans-serif;
    font-size: 10px;
    /*background: lightgray;   */
    /*border: 0px;      */
    /*border-radius: 10px;           */
    pointer-events: none;
}
.chart-blue {
  fill: #0086cd;
}
.chart-sup {
  fill: #0086cd;
  font-family: PT Sans, sans-serif;
  font-size: 7px;
}
