<div id="c-wrap">
<h1>О&nbsp;ходе реализации в&nbsp;2013&nbsp;году Стратегии развития Внешэкономбанка на&nbsp;период 2011&ndash;2015 годов</h1>

<div class="big-num-container">
<div class="big-num-block1 big-num">975</div>

<div class="big-num-block2 big-num-mlrd">млрд<br />
рублей</div>
</div>

<p class="big-num-text">составил на&nbsp;01.01.2014 объем кредитного портфеля&nbsp;банка развития, превысив запланированный в&nbsp;Стратегии развития Внешэкономбанка на&nbsp;период 2011&ndash;2015&nbsp;годов&nbsp;(далее&nbsp;&ndash; Стратегия) показатель на&nbsp;56,7%.</p>

<p class="chart-name">Объем кредитного портфеля банка развития, млрд рублей</p>

<div class="chart-pic" id="c01_01">
	<a class="zoom-pic" download="c01_01b.png" href="/img/charts/c01_01b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_c01_01b.png" href="/img/charts/c01_01b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_c01_01b.png" href="/img/charts/c01_01b.png"><img alt="Объем кредитного портфеля банка развития, млрд рублей" src="/img/charts/c01_01.png" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#c01_01",cdata01_01);</script>
</div>

<div class="chart-pic"><a data-lightbox="c01_01b.png" href="/img/charts/c01_01b.png"><img alt="Объем кредитного портфеля банка развития, млрд рублей" src="/img/charts/c01_01.png" style="width: 538px;" /></a></div>

<p>Отраслевая структура кредитного портфеля банка развития в&nbsp;целом соответствует структуре, предусмотренной в&nbsp;Стратегии на&nbsp;конец 2015&nbsp;года.</p>

<p>В&nbsp;течение 2013&nbsp;года произошло некоторое увеличение доли кредитов на&nbsp;реализацию инфраструктурных проектов (с&nbsp;36,4% на&nbsp;01.01.2013 до&nbsp;39,4% на&nbsp;01.01.2014) с&nbsp;одновременным незначительным снижением долей кредитов в&nbsp;отраслях промышленности и&nbsp;агропромышленном комплексе.</p>

<p class="chart-name">Отраслевая структура кредитного портфеля банка развития, %</p>

<div class="chart-pic"><a data-lightbox="c01_02b.png" href="/img/charts/c01_02b.png"><img alt="Отраслевая структура кредитного портфеля банка развития, %" src="/img/charts/c01_02.png" style="width: 538px;" /></a></div>

<div class="big-num-container">
<div class="big-num-block1 big-num">893</div>

<div class="big-num-block2 big-num-mlrd">млрд<br />
рублей</div>
</div>

<p class="big-num-text">достиг объем кредитов, предоставленных в&nbsp;целях реализации инвестиционных проектов, что на&nbsp;49,3% больше значения, предусмотренного в&nbsp;Стратегии на&nbsp;конец 2013 года.</p>

<p class="chart-name">Объем кредитов, предоставляемых в&nbsp;целях реализации&nbsp;инвестиционных проектов, млрд рублей</p>

<div class="chart-pic"><a data-lightbox="c01_03b.png" href="/img/charts/c01_03b.png"><img alt="Объем кредитов, предоставляемых в&nbsp;целях реализации инвестиционных проектов, млрд рублей" src="/img/charts/c01_03.png" style="width: 538px;" /></a></div>

<div class="big-num-container">
<div class="big-num-block1 big-num">182</div>

<div class="big-num-block2 big-num-mlrd">млрд<br />
рублей</div>
</div>

<p class="big-num-text">составил на&nbsp;01.01.2014 объем кредитов, предоставленных в&nbsp;рамках финансирования проектов по&nbsp;указанным в&nbsp;Стратегии приоритетным направлениям модернизации экономики (на&nbsp;01.01.2013 &ndash; 160&nbsp;млрд рублей).&nbsp;</p>

<p>В&nbsp;общем объеме таких кредитов более 80% приходится на&nbsp;кредиты в&nbsp;рамках финансирования проектов, направленных на&nbsp;повышение энергоэффективности.</p>

<p>Одним из&nbsp;ключевых стратегических приоритетов Внешэкономбанка является содействие развитию инновационной деятельности.</p>

<p>&nbsp;</p>

<div class="big-num-container">
<div class="big-num-block1 big-num">33,8</div>

<div class="big-num-block2 big-num-percent">%</div>
</div>

<p class="big-num-text">Доля инновационных проектов в&nbsp;объеме кредитного портфеля банка развития. Целевое значение, предусмотренное Стратегией на&nbsp;конец 2015 года, &ndash; не&nbsp;менее 20%.</p>

<div class="big-num-container">
<div class="big-num-block1 big-num">7,5</div>

<div class="big-num-block2 big-num-mlrd">млрд<br />
рублей</div>
</div>

<p class="big-num-text">Суммарная стоимость проектов, направленных в&nbsp;2013&nbsp;году во&nbsp;Внешэкономбанк Агентством стратегических инициатив (АСИ) в&nbsp;целях проработки вопроса об&nbsp;организации финансирования.</p>

<p>В&nbsp;соответствии со&nbsp;Стратегией Внешэкономбанк активно использует механизмы фондов&nbsp;прямых инвестиций для привлечения иностранного капитала в&nbsp;развитие российской экономики. В&nbsp;отчетном году объем созданного Внешэкономбанком Российского фонда прямых инвестиций (ЗПИФ РФПИ) увеличен до&nbsp;124,6&nbsp;млрд рублей. Задействование ресурсов РФПИ позволило в&nbsp;2013 году привлечь в&nbsp;российскую экономику около 8,5&nbsp;млрд долларов США в&nbsp;рамках долгосрочных стратегических партнерств с&nbsp;иностранными инвесторами. В&nbsp;крупные российские компании в основном несырьевого сектора в&nbsp;качестве соинвесторов привлечено более 10&nbsp;ведущих международных инвесторов.</p>

<p>Учитывая определенные Стратегией региональные приоритеты инвестиционной деятельности, Внешэкономбанк в&nbsp;отчетном году осуществил докапитализацию дочерних институтов развития &ndash; ОАО &laquo;Фонд развития Дальнего Востока и&nbsp;Байкальского региона&raquo; (далее &ndash; Фонд) и&nbsp;ОАО &laquo;Корпорация развития Северного Кавказа&raquo; (далее &ndash; ОАО &laquo;КРСК&raquo;). Уставный капитал Фонда увеличен на&nbsp;15&nbsp;млрд рублей за&nbsp;счет средств государственной субсидии, уставный капитал ОАО&nbsp;&laquo;КРСК&raquo; увеличен на&nbsp;4&nbsp;млрд рублей. Указанные средства предназначены для финансирования инвестиционных проектов на&nbsp;территории соответствующих регионов.</p>

<p>Активное развитие получила деятельность Внешэкономбанка по&nbsp;финансовой и&nbsp;гарантийной поддержке российских предприятий-экспортеров и&nbsp;иностранных импортеров высокотехнологичной российской продукции.</p>

<p>&nbsp;</p>

<div class="big-num-container">
<div class="big-num-block1 big-num">22,3</div>

<div class="big-num-block2 big-num-mlrd">млрд<br />
рублей</div>
</div>

<p class="big-num-text">достиг объем кредитного портфеля по&nbsp;поддержке экспорта, превысив предусмотренный Стратегией целевой показатель на&nbsp;конец 2013&nbsp;года (19&nbsp;млрд рублей).&nbsp;</p>

<div class="big-num-container">
<div class="big-num-block1 big-num">99,6</div>

<div class="big-num-block2 big-num-mlrd">млрд<br />
рублей</div>
</div>

<p class="big-num-text">составил объем портфеля гарантий, выданных в&nbsp;целях поддержки экспорта, более чем&nbsp;в&nbsp;4 раза превысив целевой показатель Стратегии на&nbsp;конец 2013&nbsp;года (24&nbsp;млрд рублей).</p>

<div class="big-num-container">
<div class="big-num-block1 big-num">0,9</div>

<div class="big-num-block2 big-num-mlrd">млрд<br />
долларов США</div>
</div>

<p class="big-num-text">Объем обязательств ОАО&nbsp;&laquo;ЭКСАР&raquo; по&nbsp;действующим на&nbsp;01.01.2014 договорам страхования.</p>

<div class="big-num-container">
<div class="big-num-block1 big-num">10</div>

<div class="big-num-block2 big-num-mlrd">млрд<br />
долларов США</div>
</div>

<p class="big-num-text">Общий лимит ответственности по&nbsp;соглашению о&nbsp;предоставлении Внешэкономбанком гарантий по&nbsp;обязательствам ОАО&nbsp;&laquo;ЭКСАР&raquo;.</p>

<p>К&nbsp;приоритетным задачам Внешэкономбанка, определенным в&nbsp;Стратегии, относится поддержка субъектов МСП (через ОАО&nbsp;&laquo;МСП Банк&raquo;), реализующих инновационные проекты, проекты, направленные на&nbsp;модернизацию производства и&nbsp;повышение энергоэффективности.</p>

<p>На&nbsp;01.01.2014 объем кредитов субъектам МСП, реализующим указанные проекты, составил 57,6&nbsp;млрд рублей (на&nbsp;01.01.2013&ndash;51,3&nbsp;млрд рублей).<br />
Внешэкономбанк успешно решал поставленную задачу наращивания средне- и&nbsp;долгосрочной ресурсной базы. Объем средств, привлеченных Внешэкономбанком в&nbsp;2013 году на рынках капитала (сроком свыше 1 года), составил эквивалент 273,5&nbsp;млрд рублей.</p>

<h2>О&nbsp;ходе выполнения в&nbsp;2013 году Плана реализации Стратегии развития Внешэкономбанка на&nbsp;период 2011&ndash;2015 годов</h2>

<p>В&nbsp;2013 году проведена актуализация Плана реализации Стратегии развития Внешэкономбанка на&nbsp;период 2011&ndash;2015 годов (далее &ndash; План).</p>

<p>Актуализированным Планом предусмотрена реализация до&nbsp;конца 2015 года 103 проектов и&nbsp;мероприятий, направленных на&nbsp;достижение установленных в&nbsp;Стратегии целей и&nbsp;выполнение поставленных перед Внешэкономбанком задач.&nbsp;</p>

<p>Проекты и&nbsp;мероприятия Плана относятся к&nbsp;различным областям деятельности Внешэкономбанка. В&nbsp;их&nbsp;числе финансирование инвестиционных проектов, поддержка экспорта промышленной продукции, содействие развитию малого и&nbsp;среднего предпринимательства и государственно-частного партнерства, комплексное развитие территорий и&nbsp;поддержка моногородов, выполнение Внешэкономбанком функций агента Правительства Российской Федерации, развитие системы корпоративной социальной ответственности.</p>

<p>В&nbsp;соответствии с&nbsp;актуализированным Планом к&nbsp;концу 2013 года должно быть реализовано 63 проекта и&nbsp;мероприятия, в&nbsp;том числе 3 мероприятия, выполнение которых предусмотрено на&nbsp;ежегодной основе. По&nbsp;состоянию на&nbsp;1 января 2014 года полностью выполнено 58 пунктов Плана, включая 4 проекта (мероприятия) следующих отчетных периодов. Выполнение 9 проектов и&nbsp;мероприятий перенесено на&nbsp;более поздний срок.</p>

<p>Более подробная информация о&nbsp;деятельности Внешэкономбанка по&nbsp;ключевым направлениям, предусмотренным Стратегией, приведена в&nbsp;соответствующих разделах настоящего Отчета.</p>

<p class="chart-name">Динамика основных финансовых показателей<sup>1</sup>, млрд рублей</p>

<div class="chart-pic"><a data-lightbox="c01_04b.png" href="/img/charts/c01_04b.png"><img alt="Динамика основных финансовых показателей, млрд рублей" src="/img/charts/c01_04.png" style="width: 538px;" /></a></div>

<p class="footnote"><sup>1</sup> Здесь и&nbsp;далее по&nbsp;тексту приведены значения финансовых показателей, рассчитанные на&nbsp;основании данных бухгалтерского учета (формы 0409101 и&nbsp;0409102).</p>

<p class="footnote"><sup>2</sup> С&nbsp;учетом сальдирования доходов и&nbsp;расходов, а&nbsp;также положительной и&nbsp;отрицательной переоценки ценных бумаг, имеющихся в&nbsp;наличии для продажи (&laquo;аналитическая&raquo; валюта баланса).</p>

<p class="footnote"><sup>3</sup> Объем портфеля кредитов, предоставленных Внешэкономбанком некредитным организациям, органам государственной исполнительной власти и органам местного самоуправления (в том числе соответствующим структурам иностранных государств), за исключением кредитов, выданных за&nbsp;счет средств Банка России и Фонда национального благосостояния.</p>

<p class="footnote"><sup>4</sup> Долговые и&nbsp;долевые ценные бумаги (за исключением вложений в&nbsp;акции, носящих инвестиционный характер), паи инвестиционных фондов.</p>

<p class="table-name">Позиция Внешэкономбанка среди 10 крупнейших по&nbsp;величине валюты баланса банков России по&nbsp;состоянию на&nbsp;1 января 2014&nbsp;года</p>

<table class="ts-main ts-shadow">
	<colgroup>
		<col class="cs-width-auto" />
		<col class="cs-width-20 cs-bkg-blue" />
	</colgroup>
	<thead>
		<tr>
			<td>
			<p class="cs-text-left"><span class="xx-blue">1.</span><br />
			Показатель</p>
			</td>
			<td>
			<p class="cs-text-left"><span class="xx-blue">2.</span><br />
			Место</p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			<p class="cs-text-left">Валюта баланса</p>
			</td>
			<td>
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td>
			<p class="cs-text-left">Балансовая прибыль</p>
			</td>
			<td>
			<p>7</p>
			</td>
		</tr>
		<tr>
			<td>
			<p class="cs-text-left">Собственные средства (капитал)</p>
			</td>
			<td>
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td>
			<p class="cs-text-left">Кредиты, предоставленные нефинансовым организациям</p>
			</td>
			<td>
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td>
			<p class="cs-text-left">Кредиты, предоставленные кредитным организациям</p>
			</td>
			<td>
			<p>3</p>
			</td>
		</tr>
		<tr>
			<td>
			<p class="cs-text-left">Кредиты, депозиты и&nbsp;прочие средства, полученные от&nbsp;кредитных организаций</p>
			</td>
			<td>
			<p>3</p>
			</td>
		</tr>
		<tr class="cs-no-border">
			<td>
			<p class="cs-text-left">Депозиты и&nbsp;прочие привлеченные средства от&nbsp;некредитных организаций</p>
			</td>
			<td>
			<p>4</p>
			</td>
		</tr>
	</tbody>
</table>

<p class="table-name">Рейтинги Внешэкономбанка на 1 января 2014 года</p>

<table class="ts-main ts-shadow">
	<colgroup>
		<col class="cs-width-auto" />
		<col class="cs-width-20 cs-bkg-blue" />
		<col class="cs-width-20" />
		<col class="cs-width-20 cs-bkg-blue" />
	</colgroup>
	<thead>
		<tr>
			<td>
			<p class="cs-text-left"><span class="xx-blue">1.</span><br />
			Наименование рейтинга</p>
			</td>
			<td>
			<p class="cs-text-left"><span class="xx-blue">2.</span><br />
			Moody&rsquo;s</p>
			</td>
			<td>
			<p class="cs-text-left"><span class="xx-blue">3.</span><br />
			Standard &amp; Poor&rsquo;s</p>
			</td>
			<td>
			<p class="cs-text-left"><span class="xx-blue">4.</span><br />
			Fitch Ratings</p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			<p class="cs-text-left xx-strong">Долгосрочные рейтинги</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p class="cs-text-left">в&nbsp;российских рублях</p>
			</td>
			<td>
			<p>Baa1</p>
			</td>
			<td>
			<p>BBB+</p>
			</td>
			<td>
			<p>BBB</p>
			</td>
		</tr>
		<tr class="cs-double-border">
			<td>
			<p class="cs-text-left">в&nbsp;иностранной валюте</p>
			</td>
			<td>
			<p>Baa1</p>
			</td>
			<td>
			<p>BBB</p>
			</td>
			<td>
			<p>BBB</p>
			</td>
		</tr>
		<tr class="cs-double-border">
			<td>
			<p class="cs-text-left xx-strong">Прогноз</p>
			</td>
			<td>
			<p>Стабильный</p>
			</td>
			<td>
			<p>Стабильный</p>
			</td>
			<td>
			<p>Стабильный</p>
			</td>
		</tr>
		<tr>
			<td>
			<p class="cs-text-left xx-strong">Краткосрочные рейтинги</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p class="cs-text-left">в&nbsp;российских рублях</p>
			</td>
			<td>
			<p>P-2</p>
			</td>
			<td>
			<p>A-2</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr class="cs-no-border">
			<td>
			<p class="cs-text-left">в&nbsp;иностранной валюте</p>
			</td>
			<td>
			<p>P-2</p>
			</td>
			<td>
			<p>A-2</p>
			</td>
			<td>
			<p>F-3</p>
			</td>
		</tr>
	</tbody>
</table>
</div>

