<link href="http://static.veb.zzubra.com/css/charts.css" rel="stylesheet" type="text/css" /><script src="http://static.veb.zzubra.com/js/innersvg.js" charset="utf-8"></script><script type="text/javascript" src="http://static.veb.zzubra.com/js/d3.min.js"></script><script type="text/javascript" src="http://static.veb.zzubra.com/js/cdata2.js"></script><script type="text/javascript" src="http://static.veb.zzubra.com/js/cmain.js"></script>
<div id="c-wrap">
	<p class="chart-name">Объем кредитного портфеля банка развития, млрд рублей</p>
	<div class="chart-pic" id="c01_01"><script type="text/javascript">
				barChart("#c01_01",cdata01_01);
	</script></div>
	<p class="chart-name">Объем кредитов, предоставляемых в целях реализации инвестиционных проектов, млрд рублей</p>
	<div class="chart-pic" id="c01_03"><script type="text/javascript">
				barChart("#c01_03",cdata01_03);
	</script></div>
	<p class="chart-name">Динамика основных финансовых показателей, млрд рублей</p>
	<div class="chart-pic" id="c01_04"><script type="text/javascript">
				barChart("#c01_04",cdata01_04);
	</script></div>
	<p class="footnote"><sup>1</sup> Здесь и&nbsp;далее по&nbsp;тексту приведены значения финансовых показателей, рассчитанные на&nbsp;основании данных бухгалтерского учета (формы 0409101 и&nbsp;0409102).</p>
	<p class="footnote"><sup>2</sup> С&nbsp;учетом сальдирования доходов и&nbsp;расходов, а&nbsp;также положительной и&nbsp;отрицательной переоценки ценных бумаг, имеющихся в&nbsp;наличии для продажи (&laquo;аналитическая&raquo; валюта баланса).</p>
	<p class="footnote"><sup>3</sup> Объем портфеля кредитов, предоставленных Внешэкономбанком некредитным организациям, органам государственной исполнительной власти и органам местного самоуправления (в том числе соответствующим структурам иностранных государств), за исключением кредитов, выданных за&nbsp;счет средств Банка России и Фонда национального благосостояния.</p>
	<p class="footnote"><sup>4</sup> Долговые и&nbsp;долевые ценные бумаги (за исключением вложений в&nbsp;акции, носящих инвестиционный характер), паи инвестиционных фондов.</p>
	<p class="chart-name">Объем кредитного портфеля банка развития, млрд рублей</p>
	<div class="chart-pic"><a data-lightbox="c01_01b.png" href="/img/charts/c01_01b.png"><img alt="Объем кредитного портфеля банка развития, млрд рублей" src="/img/charts/c01_01.png" style="width: 538px;" /></a></div>


	<p class="chart-name">Объем кредитного портфеля банка развития, млрд рублей</p>

	<div class="chart-pic" id="c01_01xx">
		<a class="zoom-pic" download="c01_01b.png" href="/img/charts/c01_01b.png.zip"><img src="/img/download.png" /></a>
		<a class="zoom-pic" data-lightbox="c01_01b__.png" href="/img/charts/c01_01b.png"><img src="/img/zoom.png" /></a>
		<!--[if (lte IE 8)|(!IE)]>
		<a class="zoom-pic" data-lightbox="c01_01b__8.png" href="/img/charts/c01_01b.png"><img src="/img/charts/c01_01.png" style="width: 538px;" /></a>
		<![endif]-->
		<script type="text/javascript">barChart("#c01_01xx",cdata01_01);</script>
	</div>
</div>