<p class="chart-name">Объем кредитного портфеля банка развития, млрд рублей</p>

<div class="chart-pic" id="c01_01">
	<a class="zoom-pic" download="c01_01b.png.zip" href="/img/charts/c01_01b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_c01_01b.png" href="/img/charts/c01_01b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_c01_01b.png" href="/img/charts/c01_01b.png"><img alt="Объем кредитного портфеля банка развития, млрд рублей" src="/img/charts/c01_01.png" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#c01_01",c01_01_data);</script>
</div>



<p class="chart-name">Development Bank’s Loan Portfolio, RUB bn</p>

<div class="chart-pic" id="en_c01_01">
	<a class="zoom-pic" download="en_c01_01b.png.zip" href="/img/charts/en_c01_01b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_en_c01_01b.png" href="/img/charts/en_c01_01b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_en_c01_01b.png" href="/img/charts/en_c01_01b.png"><img alt="Development Bank’s Loan Portfolio, RUB bn" src="/img/charts/en_c01_01.png" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#en_c01_01",en_c01_01_data);</script>
</div>






<p class="chart-name">Объем кредитов, предоставляемых в целях реализации инвестиционных проектов, млрд рублей</p>

<div class="chart-pic" id="c01_03">
	<a class="zoom-pic" download="c01_03b.png.zip" href="/img/charts/c01_03b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_c01_03b.png" href="/img/charts/c01_03b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_c01_03b.png" href="/img/charts/c01_03b.png"><img alt="Объем кредитов, предоставляемых в целях реализации инвестиционных проектов, млрд рублей" src="/img/charts/c01_03.png" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#c01_03",c01_03_data);</script>
</div>



<p class="chart-name">Loans Extended for Investment Projects, RUB bn</p>

<div class="chart-pic" id="en_c01_03">
	<a class="zoom-pic" download="en_c01_03b.png.zip" href="/img/charts/en_c01_03b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_en_c01_03b.png" href="/img/charts/en_c01_03b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_en_c01_03b.png" href="/img/charts/en_c01_03b.png"><img alt="Loans Extended for Investment Projects, RUB bn" src="/img/charts/en_c01_03.png" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#en_c01_03",en_c01_03_data);</script>
</div>





<p class="chart-name">Динамика основных финансовых показателей<sup>1</sup>, млрд рублей</p>

<div class="chart-pic" id="c01_04">
	<a class="zoom-pic" download="c01_04b.png.zip" href="/img/charts/c01_04b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_c01_04b.png" href="/img/charts/c01_04b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_c01_04b.png" href="/img/charts/c01_04b.png"><img alt="Динамика основных финансовых показателей, млрд рублей" src="/img/charts/c01_04.png" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#c01_04",c01_04_data);</script>
</div>



<p class="chart-name">Development Dynamics: Major Financial Highlights<sup>1</sup>, RUB bn</p>

<div class="chart-pic" id="en_c01_04">
	<a class="zoom-pic" download="en_c01_04b.png.zip" href="/img/charts/en_c01_04b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_en_c01_04b.png" href="/img/charts/en_c01_04b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_en_c01_04b.png" href="/img/charts/en_c01_04b.png"><img alt="Development Dynamics: Major Financial Highlights, RUB bn" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#en_c01_04",en_c01_04_data);</script>
</div>






<p class="chart-name">Портфель &laquo;инвестиционных&raquo; кредитов (в&nbsp;разрезе основных целей их&nbsp;реализации), млрд&nbsp;рублей</p>

<div class="chart-pic" id="c02_03">
	<a class="zoom-pic" download="c02_03b.png.zip" href="/img/charts/c02_03b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_c02_03b.png" href="/img/charts/c02_03b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_c02_03b.png" href="/img/charts/c02_03b.png"><img alt="Портфель &laquo;инвестиционных&raquo; кредитов (в&nbsp;разрезе основных целей их&nbsp;реализации), млрд&nbsp;рублей" src="/img/charts/c02_03.png" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#c02_03",c02_03_data);</script>
</div>



<p class="chart-name">Portfolio of investment loans (by projects categorized by delivery goals), RUB bn</p>

<div class="chart-pic" id="en_c02_03">
	<a class="zoom-pic" download="en_c02_03b.png.zip" href="/img/charts/en_c02_03b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_en_c02_03b.png" href="/img/charts/en_c02_03b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_en_c02_03b.png" href="/img/charts/en_c02_03b.png"><img alt="Portfolio of investment loans (by projects categorized by delivery goals), RUB bn" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#en_c02_03",en_c02_03_data);</script>
</div>






<p class="chart-name">Динамика показателей деятельности по поддержке экспорта, млрд рублей</p>

<div class="chart-pic" id="c02_06">
	<a class="zoom-pic" download="c02_06b.png.zip" href="/img/charts/c02_06b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_c02_06b.png" href="/img/charts/c02_06b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_c02_06b.png" href="/img/charts/c02_06b.png"><img alt="Динамика показателей деятельности по поддержке экспорта, млрд рублей" src="/img/charts/c02_06.png" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#c02_06",c02_06_data);</script>
</div>



<p class="chart-name">Development dynamics: export support activities (RUB, bn)</p>

<div class="chart-pic" id="en_c02_06">
	<a class="zoom-pic" download="en_c02_06b.png.zip" href="/img/charts/en_c02_06b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_en_c02_06b.png" href="/img/charts/en_c02_06b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_en_c02_06b.png" href="/img/charts/en_c02_06b.png"><img alt="Development dynamics: export support activities (RUB, bn)" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#en_c02_06",en_c02_06_data);</script>
</div>





<p class="chart-name">Структура средств, привлеченных на рынках капитала, в разрезе срочности, млрд рублей</p>

<div class="chart-pic" id="c02_07">
	<a class="zoom-pic" download="c02_07b.png.zip" href="/img/charts/c02_07b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_c02_07b.png" href="/img/charts/c02_07b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_c02_07b.png" href="/img/charts/c02_07b.png"><img alt="Структура средств, привлеченных на рынках капитала, в разрезе срочности, млрд рублей" src="/img/charts/c02_07.png" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#c02_07",c02_07_data);</script>
</div>



<p class="chart-name">Structure of funds borrowed in capital markets (by maturity), RUB bn</p>

<div class="chart-pic" id="en_c02_07">
	<a class="zoom-pic" download="en_c02_07b.png.zip" href="/img/charts/en_c02_07b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_en_c02_07b.png" href="/img/charts/en_c02_07b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_en_c02_07b.png" href="/img/charts/en_c02_07b.png"><img alt="Structure of funds borrowed in capital markets (by maturity), RUB bn" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#en_c02_07",en_c02_07_data);</script>
</div>






<p class="chart-name">Оборот по операциям привлечения/размещения краткосрочных МБК, млрд рублей (эквивалент по среднему курсу)</p>

<div class="chart-pic" id="c03_01">
	<a class="zoom-pic" download="c03_01b.png.zip" href="/img/charts/c03_01b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_c03_01b.png" href="/img/charts/c03_01b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_c03_01b.png" href="/img/charts/c03_01b.png"><img alt="Оборот по операциям привлечения/размещения краткосрочных МБК, млрд рублей (эквивалент по среднему курсу)" src="/img/charts/c03_01.png" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#c03_01",c03_01_data);</script>
</div>



<p class="chart-name">Turnover of money market operations (short-term interbank loans), RUB bn (in equivalent to an average yearly exchange rate)</p>

<div class="chart-pic" id="en_c03_01">
	<a class="zoom-pic" download="en_c03_01b.png.zip" href="/img/charts/en_c03_01b.png.zip"><img src="/img/download.png" /></a>
	<a class="zoom-pic" data-lightbox="_en_c03_01b.png" href="/img/charts/en_c03_01b.png"><img src="/img/zoom.png" /></a>
	<!--[if (lte IE 8)|(!IE)]>
	<a class="zoom-pic" data-lightbox="ie_en_c03_01b.png" href="/img/charts/en_c03_01b.png"><img alt="Turnover of money market operations (short-term interbank loans), RUB bn (in equivalent to an average yearly exchange rate)" style="width: 538px;" /></a>
	<![endif]-->
	<script type="text/javascript">barChart("#en_c03_01",en_c03_01_data);</script>
</div>


